body {
  background-image: url(ra.jpeg);
}

.wrapper {
  background-color: rgba(0,0,0,0.4);
  .form {
    color: white;
    padding: 20px 0;
  }
}

#loading {
  background-image: url(ajax_green.gif);
  background-repeat: none;
  width: 24px;
  height: 24px;
  display: none;
}

#content {
  margin-top: 50px;
}

#search {
  input {
    width: 90%;
    height: 50px;
    font-size: 20px;
    border-radius: 0px;
  }
}

#answer {
  display: none;
  font-size: 22px;
  line-height: 30px;
  font-style: italic;
}

#ask {
  border-radius: 0px;
  width: 20%;
}

#answer:before {
  content:"\201C";
  //content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;

}

#ans {
  display: none;
}

small {
  display: none;
}

small::before {
  content: "\00a0 \00a0 ";
}